<%= render "organizations/breadcrumbs", organization: organization, org: org %>

<%= render "organizations/header", organization: organization %>

<h2>Projects</h2>

<% if projects.empty? %>
  <p class="text-gray-600">No tracked projects found for this organization.</p>
<% else %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <% projects.each do |project| %>
      <%= render "organizations/projects/project", project: project %>
    <% end %>
  </div>
<% end %>
