<div class="bg-dry-500 p-10 text-white">
  <h1>Dry.rb</h1>
</div>

<div class="bg-rom-500 p-10 text-white">
  <h1>ROM.rb</h1>
</div>

<div class="bg-hanami-500 p-10 text-white">
  <h1>Hanami</h1>
</div>
