<h1>Contributors</h1>

<p>This is a site to showcase contributors to the Hanakai ecosystem. Hanakai is a collection of systems including Hanami, ROM, and Dry.</p>

<div class="bg-dry-500 p-10 text-white">
  <h1>Dry.rb</h1>
</div>

<div class="bg-rom-500 p-10 text-white">
  <h1>ROM.rb</h1>
</div>

<div class="bg-hanami-500 p-10 text-white">
  <h1>Hanami</h1>
</div>

<div class="b-primary p-10">
  hi
</div>
