<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">

  <div class="grid grid-cols-4 gap-8">
    <!-- Main Content -->
    <div class="lg:col-span-4">
      <h1 class="text-4xl font-bold mb-2 text-gray-900"><%= selected_organization ? "#{selected_organization.name} Contributors" : "All Contributors"  %></h1>

      <% if contributors.empty? %>
        <p class="text-gray-600">No contributors recorded yet.</p>
      <% else %>
        <div class="bg-white overflow-hidden">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th scope="col" class="px-3 sm:px-6 py-3 text-left text-xs font-bold text-gray-600 uppercase tracking-wide">Who</th>
                <th scope="col" class="px-3 sm:px-6 py-3 text-left text-xs font-bold text-gray-600 uppercase tracking-wider">Commits</th>
                <th scope="col" class="px-3 pr-6 sm:pr-8 py-3 text-left text-xs font-bold text-gray-600 uppercase tracking-wider">First Contribution</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <% contributors.each do |contributor| %>
                <%= render "organizations/contributors/contributor", contributor: contributor %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
